<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mammoth Lakes | Yosemite | Grand Canyon</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/travel.css">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script>
        $(function(){
            $("#header").load("layouts/header.html");
            $("#footer").load("layouts/footer.html");
        });
    </script>
  </head>
  <body>

      <div id="header"></div>

      <p>Mammoth Lakes | Yosemite | Grand Canyon</p>
      <img src="../pics/4/0.jpg">
      <img src="../pics/4/1.jpg">
      <img src="../pics/4/2.jpg">
      <img src="../pics/4/3.jpg">
      <img src="../pics/4/4.jpg">
      <img src="../pics/4/5.jpg">
      <img src="../pics/4/6.jpg">
      <img src="../pics/4/7.jpg">
      <img src="../pics/4/8.jpg">
      <img src="../pics/4/9.jpg">
      <img src="../pics/4/10.jpg">
      <img src="../pics/4/11.jpg">

      <footer>
        Copyright @ 2019 Xinlin Zhou
      </footer>
      <script src="https://kit.fontawesome.com/a0cb6100bb.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
