<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>Travel Map</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script>
    $(function(){
        $("#header").load("header.html");
        $("#footer").load("footer.html");
    });
    </script>
    <!-- <link rel="stylesheet" href="../style/travel.css"> -->
    <style>
      body {
        background-color: lightgrey;
      }
      /* Set the size of the div element that contains the map */
      #map {
        margin-top: 1.5%;
        left: 20%;
        height: 500px;  /* The height is 400 pixels */
        width: 60%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <div id="header"></div>

    <div id="map"></div>
    <script>
      // Initialize and add the map
      function initMap() {
        // the map
        var centerPos = {lat: 40.080363, lng: -89.350603};
        var map = new google.maps.Map(
            document.getElementById('map'), {center: centerPos, zoom: 3.8});

        // markers
        var locations = [
          // html page #, location name, lat, long
          ["0", 'losangeles', 34.046192, -118.267204],
          ["0", 'sandiego', 32.793566, -117.235879],
          ["0", 'palmsprings', 33.829193, -116.548635],
          ["1", 'yellowstone', 44.449904, -110.589359],
          ["1", 'bryce', 37.619637, -112.230383],
          ["1", 'zion', 37.321395, -113.028129],
          ["2", 'slc', 40.759258, -111.905417],
          ["2", 'seattle', 47.607654, -122.318743],
          ["2", 'vancouver', 49.271612, -123.139631],
          ["3", 'hawaii', 21.308244, -157.856973],
          ["3", 'newyork', 40.680042, -73.939921],
          ["3", 'solvang', 34.595841, -120.137583],
          ["4", 'mammoth', 37.625634, -118.972658],
          ["4", 'yosemite', 37.871014, -119.524934],
          ["4", 'grandcanyon', 36.100027, -112.208452],
          ["5", 'beijing', 39.912904, 116.416476],
          ["5", 'zhanjiang', 21.265156, 110.345312],
        ]

        for (var i = 0; i < locations.length; i++) {
          marker = new google.maps.Marker({position: {lat: locations[i][2], lng: locations[i][3]}, map: map});
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              var addr = "travel".concat(locations[i][0], ".html");
              window.open(addr);
            }
          })(marker, i));
        }
      }
    </script>

    <!-- <script type="text/javascript" src="../style/travel.js"></script> -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByOR80cJ8ltHMTpEEMHlsQBxmTgdAgTmE&callback=initMap"
 type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/a0cb6100bb.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
